:root {
    --header: linear-gradient(#0d048f, #a0acd6);
    --background:  #acc4d4;
    --light: #a8b4ec;
  }

body {
    background-color: var(--background);
    
    /* scroll padding accounts for the fixed position header when jumping to on-page links */
    scroll-padding-top: var(--top-spacing);
  
    margin: var(--top-spacing) auto;
}

html {
    /* The scroll padding works in most browsers, but notably not in Safari or internet explorer, resulting in less than ideal UX in those browsers.*/
    scroll-padding-top: 200px;
}

main {
    display: flex;
    margin-top: 200px;
    flex-direction: row;
    flex-wrap: wrap;
  }

header {
    background-image: var(--header);
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
}

header ul {
    text-align: right;
    list-style-type: none;
}

header nav {
    background-image: linear-gradient(#7d8183, #4b4b50);
    padding: 10px 0;
}

a {
    color: black;
}

header li {
    margin-right: 20px;
}

header nav ul li {
    display: inline-block;
    margin-right: 50px;
}

header h1 {
    margin-left: 20px;
}

.section_head {
    margin-left: 15px;
    margin-bottom: -2px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--background);
    background-image: var(--header);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
}

.About_me {
    width: 100%;
    margin-left: 17px;
    background-color: var(--light);
    margin-bottom: 20px;
    padding: 20px;
}

section.About_me p {
    color: #000000;
    margin: 0px 15px;
    font-size: 1.3em;
}

section.About_me img {
    width: 40%;
    max-width: 300px;
    min-width: 150px;
}

@media screen and (max-width: 1200px) {
    section.About_me p {
        font-size: 1.2em;
    }  
}

@media screen and (max-width: 992px) {
    section.About_me p {
        font-size: 1.1em;
    }  
}

@media screen and (max-width: 768px) {
    section.About_me p {
        font-size: 1em;
    }  
}


.flex-item {
    display:flex;
    align-items: start;
}
.flex-item img{
    flex-grow:0;
    flex-shrink:0;
}

.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 17px;
  }

  .card img {
    width: 100%;
    max-width: 500px;
    min-width: 250px;
}

.card {
    flex: 1 0 250px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #2419c0;
    background-color: var(--light);
  }

#snippets {
    flex: 2 0 500px;
}

#snippets img {
    width: 100%;
    max-width: 600px;
    min-width: 500px;
}

.contact {
    background-color: var(--light);
    width: 100%;
    margin-bottom: 15px;
    margin-left: 17px;
}

.contact p {
    margin-left: 10px;
}

  footer {
      padding: 20px;
      background-image: var(--header);
      text-align: center;
  }