body {
    background-color: tan;
}

main {
    display: flex;
    margin-top: 200px;
    flex-direction: row;
    flex-wrap: wrap;
  }

header {
    background-color: blue;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
}

header ul {
    text-align: right;
    list-style-type: none;
}

header nav {
    background-color: darkgreen;
    padding: 10px 0;
}

header li {
    margin-right: 20px;
}

header nav ul li {
    display: inline-block;
    margin-right: 50px;
}

header h1 {
    margin-left: 20px;
}

.About_me {
    width: 100%;
    background-color: #092409;
    margin-bottom: 20px;
    padding: 20px;
}

section.About_me p {
    color: white;
    margin: 0px 15px;
}

section.About_me h2 {
    color: #ae1ad369;
}

section.About_me img {
    width: 40%;
    max-width: 300px;
    min-width: 150px;
}

/*
@media screen and (max-width: 500px) {
    section.About_me img {
        width: 30%;
        max-width: 300px;
        min-width: 150px;
    }  
}
*/

.flex-item {
    display:flex;
    align-items: start;
}
.flex-item img{
    flex-grow:0;
    flex-shrink:0;
}

.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card img {
    width: 100%;
    max-width: 500px;
    min-width: 250px;
}

.card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }